.main{
    width: 100%;
    height: 100vh;
    color: #fff;
    background-color: black;
    position: fixed;
}

#image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.main .content{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 1rem;
}

.form{
    display: flex;
    background-color: white;
    color: black;
    justify-content: space-between;
    align-items: center;
    border: 1px solide white;
    padding: 4px;
    border-radius: 8px;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.form input[type=text] {
    border: transparent;
    background-color: transparent;
    width: 600px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

.form input[type=text]:focus {
    outline: none;
}

@media screen and (max-width: 940px) {
    .form input[type=text]{
        max-width: 250px;
    }
}