.main{
    width: 100%;
    height: 100vh;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
}

#video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.container {
  position: relative;
  text-align: center;
  color: white;
  
}

 .centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
#source{
    padding-top: 100px;
    padding-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    justify-content: center;
}

.main .content{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 1rem;
    
}


.hero-banner{
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f5f3;
    text-align: center;
    margin-top: -3px;
    color: black;

}

.form{
    display: flex;
    background-color: white;
    color: black;
    justify-content: space-between;
    align-items: center;
    border: 1px solide white;
    padding: 4px;
    border-radius: 8px;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.form input[type=text] {
    border: transparent;
    background-color: transparent;
    width: 600px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

.form input[type=text]:focus {
    outline: none;
}

@media screen and (max-width: 940px) {
    .form input[type=text]{
        max-width: 250px;
    }
}